@model List<DTLiving.Models.Product>;

@{
    ViewData["Title"] = "Index";
}

@section styles {
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
}

<hr />

<div class="row">
    <div class="col-xxl-4">
        <h3>Product List</h3>
    </div>
</div>


<div class="" style="min-height:50vh;">
    <table class="table table-index" id="productTable">
        <thead>
            <tr>
                <th class="Id">ID</th>
                <th class="Name">Product</th>
                <th class="Category">Category</th>
                <th class="Price">Price</th>
                <th class="Stock">Total</th>
                <th class="Control"></th>
                <th class="Control"></th>
                <th class="Control"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


@section scripts {

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- DataTables JavaScript -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

    <script>

        $(document).ready(function () {
            $('#productTable').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: '/Product/LoadData',
                    type: 'POST',
                    datatype: 'json'
                },
                columns: [
                    { data: 'id', name: 'Id' },
                    { data: 'name', name: 'Name' },
                    { data: 'category', name: 'Category' },
                    { data: 'price', name: 'Price' },
                    { data: 'stock', name: 'Stock' },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-secondary" href="/Product/Detail/' + full.id + '">Details</a>';
                        }
                    },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="btn btn-secondary" href="/Product/Edit/' + full.id + '">Edit</a>';
                        }
                    },
                    {
                        "render": function (data, type, full, meta) {
                            return "<button class='btn btn-secondary' onclick=DeleteData(" + full.id + "); >Delete</button>";
                        }
                    }
                ],
                paging: true,
                pageLength: 10
            });
        });

        // 向後端發送 AJAX 請求，刪除商品
        function DeleteData(id) {
            if (confirm(" Remove this Product ? ")) {
                $.ajax({
                    url: '/Product/Delete',
                    type: 'POST',
                    data: { id: id },
                    dataType: 'json',
                    success: function (data) {
                        if (data.success) {
                            // 刪除成功後，重新載入DataTable的資料
                            $('#productTable').DataTable().ajax.reload();
                        } else {
                            alert('刪除失敗: ' + data.errorMessage);
                        }
                    },
                    error: function () {
                        alert('與伺服器通訊發生錯誤！');
                    }
                });
            }
        }

    </script>

}